.chatWindow{
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: row;
    border: 1px solid gray;
    background-color: #282c34;
}

.chattersdiv{
    width: 25%;
    height: 100%;
    border-right: 1px solid gray;
    color: white;
}

.chatters{
    text-align: left;
}

.chat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;
    height: 100%;
}

.messages{
    display: flex;
    flex-direction: column;
    text-align: left;
    scroll-behavior: smooth;
    overflow-wrap: break-word;
    overflow-y: auto;
    color: white;
}

.message{
    background-color: teal;
    margin:4px;
    border-radius: 5px;
    width: 70%;
}

.myMessage{
    align-self: flex-end;
}

.header{
    display: flex;
    flex-direction: column;
    background-color: #282c34;
}

.chatFont{
    color: white;
}

.joinButton{
    color: white;
    background-color: gray;
}

.messageInputBox{
}

.messageInput{
    height: 30px;
    width: 70%;
}

.messageSendButton{
    height: 35px;
    width: 27%;
}