#start.content {
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

#teams{
    text-align: start;
    width: 300px;
    height: 100vh;
    margin-right: 50px;
    background-color: #282c34;
}

#Info.divSignup{
    text-align: left;
}

.contentBody{
    margin:25px auto 0px auto;
    font-size: 17px;
    /* font-family: fantasy; */
    position: relative;
    color: rgb(54,65,71);
    text-align: left;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    display: flex;
    flex-direction: row;
    height: 100%;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* #teams li:before{
  content: "\f002"; FontAwesome Unicode 

} */

.flows{
    position: absolute;
    margin-left: 300px;
    width: 500px;
}

.flowsTable{
    background-color:  #282c34;
    color: gray;
}

.flowsTable td{
    padding-right: 50px;
}

button{
    cursor: pointer;
}

#delete{
    padding: 0;
    border: none;
    background-color: #282c34;
}

.info{
    color: lightskyblue;
}