#flow.content{
    /* background-color:  #282c34; */
    color: black;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    margin-left: 0px;
}

hr{
    width: 100%;
    background-color: black;
}

.node{
    display: flex;
    flex-direction: column;
    font-size: medium;
    text-align: center;

    margin-left: 100px;
    margin-bottom: 20px;
    background-color: lightslategrey;
    color: black;
    min-height: 80px;
    min-width: 150px;
}

.NodeTable{
    text-align: center;
    width: 100%;
}

.node span{
    font-size: medium;
    cursor: pointer;
}

p{
    font-size: medium;
}

.link{
    cursor: pointer;
}

.flowCreate{
    font-size: medium;
    text-align: left;
    margin-left: 0px;
    display: flex;
}

#naslov{
    font-size: x-large;
    font-weight: bold;
}

.flowReview{
    margin-left: 100px;
}

#bilosta{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

#side{
    text-align: start;
    width: 250px;
    min-height: 100vh;
    margin-right: 50px;
    background-color: #282c34;
}


.exewind{
    margin-left: 100px;
}
