.content
{
    text-align: center;
    background-color: lightskyblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    font-size: calc(10px + 2vmin);
    color: white;
}

.title{
    width: 100%;
    background-color:#282c34;
    color: lightskyblue;
}

a{
    text-decoration: none;
    color: lightslategray;
}


a.linkToAbout:hover{
    text-decoration: none;
    color: lightskyblue;
}

  /* mouse over link */
a:hover {
    color: #282c34;
}
  
  /* selected link */
a:active {
    color: #282c34;
}
  



.signDiv
{
    background-color:lightskyblue;
    height: 100px;
    width: 100%;
    flex-direction: column;
}

.divSignup{
    width: 300px;
    height: 300px;
    margin:25px auto 0px auto;
    font-size: 17px;
    font-family: fantasy;
    color: rgb(54,65,71);
    text-align: right;
    animation-name: fadeIn;
    animation-duration: 1s;

}


@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.inputSignup{
    border: 1px solid rgb(123, 48, 48);
    border-radius: 5px;
    height: 25px;
}

#buttonSingup{
    margin-right: 100px;
    border-radius: 5px;
}